<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="com.appknox.stress.permission.NORMAL" android:protectionLevel="normal" />
    <application>
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter></activity>
        <activity android:name=".Stub0Activity" android:exported="false" />
        <service android:name=".Stub1Service" android:exported="false" />
        <receiver android:name=".Stub2Receiver" android:exported="false" />
        <activity android:name=".Stub3Activity" android:exported="false" />
        <service android:name=".Stub4Service" android:exported="false" />
        <receiver android:name=".Stub5Receiver" android:exported="false" />
        <activity android:name=".Stub6Activity" android:exported="false" />
        <service android:name=".Stub7Service" android:exported="false" />
        <receiver android:name=".Stub8Receiver" android:exported="false" />
        <activity android:name=".Stub9Activity" android:exported="false" />
        <service android:name=".Stub10Service" android:exported="false" />
        <receiver android:name=".Stub11Receiver" android:exported="false" />
        <activity android:name=".Stub12Activity" android:exported="false" />
        <service android:name=".Stub13Service" android:exported="false" />
        <receiver android:name=".Stub14Receiver" android:exported="false" />
        <activity android:name=".Stub15Activity" android:exported="false" />
        <service android:name=".Stub16Service" android:exported="false" />
        <receiver android:name=".Stub17Receiver" android:exported="false" />
        <activity android:name=".Stub18Activity" android:exported="false" />
        <service android:name=".Stub19Service" android:exported="false" />
        <receiver android:name=".Stub20Receiver" android:exported="false" />
        <activity android:name=".Stub21Activity" android:exported="false" />
        <service android:name=".Stub22Service" android:exported="false" />
        <receiver android:name=".Stub23Receiver" android:exported="false" />
        <activity android:name=".Stub24Activity" android:exported="false" />
        <service android:name=".Stub25Service" android:exported="false" />
        <receiver android:name=".Stub26Receiver" android:exported="false" />
        <activity android:name=".Stub27Activity" android:exported="false" />
        <service android:name=".Stub28Service" android:exported="false" />
        <receiver android:name=".Stub29Receiver" android:exported="false" />
        <activity android:name=".Stub30Activity" android:exported="false" />
        <service android:name=".Stub31Service" android:exported="false" />
        <receiver android:name=".Stub32Receiver" android:exported="false" />
        <activity android:name=".Stub33Activity" android:exported="false" />
        <service android:name=".Stub34Service" android:exported="false" />
        <receiver android:name=".Stub35Receiver" android:exported="false" />
        <activity android:name=".Stub36Activity" android:exported="false" />
        <service android:name=".Stub37Service" android:exported="false" />
        <receiver android:name=".Stub38Receiver" android:exported="false" />
        <activity android:name=".Stub39Activity" android:exported="false" />
        <service android:name=".Stub40Service" android:exported="false" />
        <receiver android:name=".Stub41Receiver" android:exported="false" />
        <activity android:name=".Stub42Activity" android:exported="false" />
        <service android:name=".Stub43Service" android:exported="false" />
        <receiver android:name=".Stub44Receiver" android:exported="false" />
        <activity android:name=".Stub45Activity" android:exported="false" />
        <service android:name=".Stub46Service" android:exported="false" />
        <receiver android:name=".Stub47Receiver" android:exported="false" />
        <activity android:name=".Stub48Activity" android:exported="false" />
        <service android:name=".Stub49Service" android:exported="false" />
        <receiver android:name=".Stub50Receiver" android:exported="false" />
        <activity android:name=".Stub51Activity" android:exported="false" />
        <service android:name=".Stub52Service" android:exported="false" />
        <receiver android:name=".Stub53Receiver" android:exported="false" />
        <activity android:name=".Stub54Activity" android:exported="false" />
        <service android:name=".Stub55Service" android:exported="false" />
        <receiver android:name=".Stub56Receiver" android:exported="false" />
        <activity android:name=".Stub57Activity" android:exported="false" />
        <service android:name=".Stub58Service" android:exported="false" />
        <receiver android:name=".Stub59Receiver" android:exported="false" />
        <activity android:name=".Stub60Activity" android:exported="false" />
        <service android:name=".Stub61Service" android:exported="false" />
        <receiver android:name=".Stub62Receiver" android:exported="false" />
        <activity android:name=".Stub63Activity" android:exported="false" />
        <service android:name=".Stub64Service" android:exported="false" />
        <receiver android:name=".Stub65Receiver" android:exported="false" />
        <activity android:name=".Stub66Activity" android:exported="false" />
        <service android:name=".Stub67Service" android:exported="false" />
        <receiver android:name=".Stub68Receiver" android:exported="false" />
        <activity android:name=".Stub69Activity" android:exported="false" />
        <service android:name=".Stub70Service" android:exported="false" />
        <receiver android:name=".Stub71Receiver" android:exported="false" />
        <activity android:name=".Stub72Activity" android:exported="false" />
        <service android:name=".Stub73Service" android:exported="false" />
        <receiver android:name=".Stub74Receiver" android:exported="false" />
        <activity android:name=".Stub75Activity" android:exported="false" />
        <service android:name=".Stub76Service" android:exported="false" />
        <receiver android:name=".Stub77Receiver" android:exported="false" />
        <activity android:name=".Stub78Activity" android:exported="false" />
        <service android:name=".Stub79Service" android:exported="false" />
        <receiver android:name=".Stub80Receiver" android:exported="false" />
        <activity android:name=".Stub81Activity" android:exported="false" />
        <service android:name=".Stub82Service" android:exported="false" />
        <receiver android:name=".Stub83Receiver" android:exported="false" />
        <activity android:name=".Stub84Activity" android:exported="false" />
        <service android:name=".Stub85Service" android:exported="false" />
        <receiver android:name=".Stub86Receiver" android:exported="false" />
        <activity android:name=".Stub87Activity" android:exported="false" />
        <service android:name=".Stub88Service" android:exported="false" />
        <receiver android:name=".Stub89Receiver" android:exported="false" />
        <activity android:name=".Stub90Activity" android:exported="false" />
        <service android:name=".Stub91Service" android:exported="false" />
        <receiver android:name=".Stub92Receiver" android:exported="false" />
        <activity android:name=".Stub93Activity" android:exported="false" />
        <service android:name=".Stub94Service" android:exported="false" />
        <receiver android:name=".Stub95Receiver" android:exported="false" />
        <activity android:name=".Stub96Activity" android:exported="false" />
        <service android:name=".Stub97Service" android:exported="false" />
        <receiver android:name=".Stub98Receiver" android:exported="false" />
        <activity android:name=".Stub99Activity" android:exported="false" />
        <service android:name=".Stub100Service" android:exported="false" />
        <receiver android:name=".Stub101Receiver" android:exported="false" />
        <activity android:name=".Stub102Activity" android:exported="false" />
        <service android:name=".Stub103Service" android:exported="false" />
        <receiver android:name=".Stub104Receiver" android:exported="false" />
        <activity android:name=".Stub105Activity" android:exported="false" />
        <service android:name=".Stub106Service" android:exported="false" />
        <receiver android:name=".Stub107Receiver" android:exported="false" />
        <activity android:name=".Stub108Activity" android:exported="false" />
        <service android:name=".Stub109Service" android:exported="false" />
        <receiver android:name=".Stub110Receiver" android:exported="false" />
        <activity android:name=".Stub111Activity" android:exported="false" />
        <service android:name=".Stub112Service" android:exported="false" />
        <receiver android:name=".Stub113Receiver" android:exported="false" />
        <activity android:name=".Stub114Activity" android:exported="false" />
        <service android:name=".Stub115Service" android:exported="false" />
        <receiver android:name=".Stub116Receiver" android:exported="false" />
        <activity android:name=".Stub117Activity" android:exported="false" />
        <service android:name=".Stub118Service" android:exported="false" />
        <receiver android:name=".Stub119Receiver" android:exported="false" />
        <activity android:name=".Stub120Activity" android:exported="false" />
        <service android:name=".Stub121Service" android:exported="false" />
        <receiver android:name=".Stub122Receiver" android:exported="false" />
        <activity android:name=".Stub123Activity" android:exported="false" />
        <service android:name=".Stub124Service" android:exported="false" />
        <receiver android:name=".Stub125Receiver" android:exported="false" />
        <activity android:name=".Stub126Activity" android:exported="false" />
        <service android:name=".Stub127Service" android:exported="false" />
        <receiver android:name=".Stub128Receiver" android:exported="false" />
        <activity android:name=".Stub129Activity" android:exported="false" />
        <service android:name=".Stub130Service" android:exported="false" />
        <receiver android:name=".Stub131Receiver" android:exported="false" />
        <activity android:name=".Stub132Activity" android:exported="false" />
        <service android:name=".Stub133Service" android:exported="false" />
        <receiver android:name=".Stub134Receiver" android:exported="false" />
        <activity android:name=".Stub135Activity" android:exported="false" />
        <service android:name=".Stub136Service" android:exported="false" />
        <receiver android:name=".Stub137Receiver" android:exported="false" />
        <activity android:name=".Stub138Activity" android:exported="false" />
        <service android:name=".Stub139Service" android:exported="false" />
        <receiver android:name=".Stub140Receiver" android:exported="false" />
        <activity android:name=".Stub141Activity" android:exported="false" />
        <service android:name=".Stub142Service" android:exported="false" />
        <receiver android:name=".Stub143Receiver" android:exported="false" />
        <activity android:name=".Stub144Activity" android:exported="false" />
        <service android:name=".Stub145Service" android:exported="false" />
        <receiver android:name=".Stub146Receiver" android:exported="false" />
        <activity android:name=".Stub147Activity" android:exported="false" />
        <service android:name=".Stub148Service" android:exported="false" />
        <receiver android:name=".Stub149Receiver" android:exported="false" />
        <activity android:name=".Stub150Activity" android:exported="false" />
        <service android:name=".Stub151Service" android:exported="false" />
        <receiver android:name=".Stub152Receiver" android:exported="false" />
        <activity android:name=".Stub153Activity" android:exported="false" />
        <service android:name=".Stub154Service" android:exported="false" />
        <receiver android:name=".Stub155Receiver" android:exported="false" />
        <activity android:name=".Stub156Activity" android:exported="false" />
        <service android:name=".Stub157Service" android:exported="false" />
        <receiver android:name=".Stub158Receiver" android:exported="false" />
        <activity android:name=".Stub159Activity" android:exported="false" />
        <service android:name=".Stub160Service" android:exported="false" />
        <receiver android:name=".Stub161Receiver" android:exported="false" />
        <activity android:name=".Stub162Activity" android:exported="false" />
        <service android:name=".Stub163Service" android:exported="false" />
        <receiver android:name=".Stub164Receiver" android:exported="false" />
        <activity android:name=".Stub165Activity" android:exported="false" />
        <service android:name=".Stub166Service" android:exported="false" />
        <receiver android:name=".Stub167Receiver" android:exported="false" />
        <activity android:name=".Stub168Activity" android:exported="false" />
        <service android:name=".Stub169Service" android:exported="false" />
        <receiver android:name=".Stub170Receiver" android:exported="false" />
        <activity android:name=".Stub171Activity" android:exported="false" />
        <service android:name=".Stub172Service" android:exported="false" />
        <receiver android:name=".Stub173Receiver" android:exported="false" />
        <activity android:name=".Stub174Activity" android:exported="false" />
        <service android:name=".Stub175Service" android:exported="false" />
        <receiver android:name=".Stub176Receiver" android:exported="false" />
        <activity android:name=".Stub177Activity" android:exported="false" />
        <service android:name=".Stub178Service" android:exported="false" />
        <receiver android:name=".Stub179Receiver" android:exported="false" />
        <activity android:name=".Stub180Activity" android:exported="false" />
        <service android:name=".Stub181Service" android:exported="false" />
        <receiver android:name=".Stub182Receiver" android:exported="false" />
        <activity android:name=".Stub183Activity" android:exported="false" />
        <service android:name=".Stub184Service" android:exported="false" />
        <receiver android:name=".Stub185Receiver" android:exported="false" />
        <activity android:name=".Stub186Activity" android:exported="false" />
        <service android:name=".Stub187Service" android:exported="false" />
        <receiver android:name=".Stub188Receiver" android:exported="false" />
        <activity android:name=".Stub189Activity" android:exported="false" />
        <service android:name=".Stub190Service" android:exported="false" />
        <receiver android:name=".Stub191Receiver" android:exported="false" />
        <activity android:name=".Stub192Activity" android:exported="false" />
        <service android:name=".Stub193Service" android:exported="false" />
        <receiver android:name=".Stub194Receiver" android:exported="false" />
        <activity android:name=".Stub195Activity" android:exported="false" />
        <service android:name=".Stub196Service" android:exported="false" />
        <receiver android:name=".Stub197Receiver" android:exported="false" />
        <activity android:name=".Stub198Activity" android:exported="false" />
        <service android:name=".Stub199Service" android:exported="false" />
        <receiver android:name=".Stub200Receiver" android:exported="false" />
        <activity android:name=".Stub201Activity" android:exported="false" />
        <service android:name=".Stub202Service" android:exported="false" />
        <receiver android:name=".Stub203Receiver" android:exported="false" />
        <activity android:name=".Stub204Activity" android:exported="false" />
        <service android:name=".Stub205Service" android:exported="false" />
        <receiver android:name=".Stub206Receiver" android:exported="false" />
        <activity android:name=".Stub207Activity" android:exported="false" />
        <service android:name=".Stub208Service" android:exported="false" />
        <receiver android:name=".Stub209Receiver" android:exported="false" />
        <activity android:name=".Stub210Activity" android:exported="false" />
        <service android:name=".Stub211Service" android:exported="false" />
        <receiver android:name=".Stub212Receiver" android:exported="false" />
        <activity android:name=".Stub213Activity" android:exported="false" />
        <service android:name=".Stub214Service" android:exported="false" />
        <receiver android:name=".Stub215Receiver" android:exported="false" />
        <activity android:name=".Stub216Activity" android:exported="false" />
        <service android:name=".Stub217Service" android:exported="false" />
        <receiver android:name=".Stub218Receiver" android:exported="false" />
        <activity android:name=".Stub219Activity" android:exported="false" />
        <service android:name=".Stub220Service" android:exported="false" />
        <receiver android:name=".Stub221Receiver" android:exported="false" />
        <activity android:name=".Stub222Activity" android:exported="false" />
        <service android:name=".Stub223Service" android:exported="false" />
        <receiver android:name=".Stub224Receiver" android:exported="false" />
        <activity android:name=".Stub225Activity" android:exported="false" />
        <service android:name=".Stub226Service" android:exported="false" />
        <receiver android:name=".Stub227Receiver" android:exported="false" />
        <activity android:name=".Stub228Activity" android:exported="false" />
        <service android:name=".Stub229Service" android:exported="false" />
        <receiver android:name=".Stub230Receiver" android:exported="false" />
        <activity android:name=".Stub231Activity" android:exported="false" />
        <service android:name=".Stub232Service" android:exported="false" />
        <receiver android:name=".Stub233Receiver" android:exported="false" />
        <activity android:name=".Stub234Activity" android:exported="false" />
        <service android:name=".Stub235Service" android:exported="false" />
        <receiver android:name=".Stub236Receiver" android:exported="false" />
        <activity android:name=".Stub237Activity" android:exported="false" />
        <service android:name=".Stub238Service" android:exported="false" />
        <receiver android:name=".Stub239Receiver" android:exported="false" />
        <activity android:name=".Stub240Activity" android:exported="false" />
        <service android:name=".Stub241Service" android:exported="false" />
        <receiver android:name=".Stub242Receiver" android:exported="false" />
        <activity android:name=".Stub243Activity" android:exported="false" />
        <service android:name=".Stub244Service" android:exported="false" />
        <receiver android:name=".Stub245Receiver" android:exported="false" />
        <activity android:name=".Stub246Activity" android:exported="false" />
        <service android:name=".Stub247Service" android:exported="false" />
        <receiver android:name=".Stub248Receiver" android:exported="false" />
        <activity android:name=".Stub249Activity" android:exported="false" />
        <service android:name=".Stub250Service" android:exported="false" />
        <receiver android:name=".Stub251Receiver" android:exported="false" />
        <activity android:name=".Stub252Activity" android:exported="false" android:taskAffinity="" android:launchMode="singleTask" />
        <service android:name=".Stub253Service" android:exported="false" />
        <receiver android:name=".Stub254Receiver" android:exported="false" />
        <activity android:name=".Stub255Activity" android:exported="false" />
        <service android:name=".Stub256Service" android:exported="false" />
        <receiver android:name=".Stub257Receiver" android:exported="false" />
        <activity android:name=".Stub258Activity" android:exported="false" />
        <service android:name=".Stub259Service" android:exported="false" />
        <receiver android:name=".Stub260Receiver" android:exported="false" />
        <activity android:name=".Stub261Activity" android:exported="false" />
        <service android:name=".Stub262Service" android:exported="false" />
        <receiver android:name=".Stub263Receiver" android:exported="false" />
        <activity android:name=".Stub264Activity" android:exported="false" />
        <service android:name=".Stub265Service" android:exported="false" />
        <receiver android:name=".Stub266Receiver" android:exported="false" />
        <activity android:name=".Stub267Activity" android:exported="false" />
        <service android:name=".Stub268Service" android:exported="false" />
        <receiver android:name=".Stub269Receiver" android:exported="false" />
        <activity android:name=".Stub270Activity" android:exported="false" />
        <service android:name=".Stub271Service" android:exported="false" />
        <receiver android:name=".Stub272Receiver" android:exported="false" />
        <activity android:name=".Stub273Activity" android:exported="false" />
        <service android:name=".Stub274Service" android:exported="false" />
        <receiver android:name=".Stub275Receiver" android:exported="false" />
        <activity android:name=".Stub276Activity" android:exported="false" />
        <service android:name=".Stub277Service" android:exported="false" />
        <receiver android:name=".Stub278Receiver" android:exported="false" />
        <activity android:name=".Stub279Activity" android:exported="false" />
        <service android:name=".Stub280Service" android:exported="false" />
        <receiver android:name=".Stub281Receiver" android:exported="false" />
        <activity android:name=".Stub282Activity" android:exported="false" />
        <service android:name=".Stub283Service" android:exported="false" />
        <receiver android:name=".Stub284Receiver" android:exported="false" />
        <activity android:name=".Stub285Activity" android:exported="false" />
        <service android:name=".Stub286Service" android:exported="false" />
        <receiver android:name=".Stub287Receiver" android:exported="false" />
        <activity android:name=".Stub288Activity" android:exported="false" />
        <service android:name=".Stub289Service" android:exported="false" />
        <receiver android:name=".Stub290Receiver" android:exported="false" />
        <activity android:name=".Stub291Activity" android:exported="false" />
        <service android:name=".Stub292Service" android:exported="false" />
        <receiver android:name=".Stub293Receiver" android:exported="false" />
        <activity android:name=".Stub294Activity" android:exported="false" />
        <service android:name=".Stub295Service" android:exported="false" />
        <receiver android:name=".Stub296Receiver" android:exported="false" />
        <activity android:name=".Stub297Activity" android:exported="false" />
        <service android:name=".Stub298Service" android:exported="false" />
        <receiver android:name=".Stub299Receiver" android:exported="false" />
        <activity android:name=".Stub300Activity" android:exported="false" />
        <service android:name=".Stub301Service" android:exported="false" />
        <receiver android:name=".Stub302Receiver" android:exported="false" />
        <activity android:name=".Stub303Activity" android:exported="false" />
        <service android:name=".Stub304Service" android:exported="false" />
        <receiver android:name=".Stub305Receiver" android:exported="false" />
        <activity android:name=".Stub306Activity" android:exported="false" />
        <service android:name=".Stub307Service" android:exported="false" />
        <receiver android:name=".Stub308Receiver" android:exported="false" />
        <activity android:name=".Stub309Activity" android:exported="false" />
        <service android:name=".Stub310Service" android:exported="false" />
        <receiver android:name=".Stub311Receiver" android:exported="false" />
        <activity android:name=".Stub312Activity" android:exported="false" />
        <service android:name=".Stub313Service" android:exported="false" />
        <receiver android:name=".Stub314Receiver" android:exported="false" />
        <activity android:name=".Stub315Activity" android:exported="false" />
        <service android:name=".Stub316Service" android:exported="false" />
        <receiver android:name=".Stub317Receiver" android:exported="false" />
        <activity android:name=".Stub318Activity" android:exported="false" />
        <service android:name=".Stub319Service" android:exported="false" />
        <receiver android:name=".Stub320Receiver" android:exported="false" />
        <activity android:name=".Stub321Activity" android:exported="false" />
        <service android:name=".Stub322Service" android:exported="false" />
        <receiver android:name=".Stub323Receiver" android:exported="false" />
        <activity android:name=".Stub324Activity" android:exported="false" />
        <service android:name=".Stub325Service" android:exported="false" />
        <receiver android:name=".Stub326Receiver" android:exported="false" />
        <activity android:name=".Stub327Activity" android:exported="false" />
        <service android:name=".Stub328Service" android:exported="false" />
        <receiver android:name=".Stub329Receiver" android:exported="false" />
        <activity android:name=".Stub330Activity" android:exported="false" />
        <service android:name=".Stub331Service" android:exported="false" />
        <receiver android:name=".Stub332Receiver" android:exported="false" />
        <activity android:name=".Stub333Activity" android:exported="false" />
        <service android:name=".Stub334Service" android:exported="false" />
        <receiver android:name=".Stub335Receiver" android:exported="false" />
        <activity android:name=".Stub336Activity" android:exported="false" />
        <service android:name=".Stub337Service" android:exported="false" />
        <receiver android:name=".Stub338Receiver" android:exported="false" />
        <activity android:name=".Stub339Activity" android:exported="false" />
        <service android:name=".Stub340Service" android:exported="false" />
        <receiver android:name=".Stub341Receiver" android:exported="false" />
        <activity android:name=".Stub342Activity" android:exported="false" />
        <service android:name=".Stub343Service" android:exported="false" />
        <receiver android:name=".Stub344Receiver" android:exported="false" />
        <activity android:name=".Stub345Activity" android:exported="false" />
        <service android:name=".Stub346Service" android:exported="false" />
        <receiver android:name=".Stub347Receiver" android:exported="false" />
        <activity android:name=".Stub348Activity" android:exported="false" />
        <service android:name=".Stub349Service" android:exported="false" />
        <receiver android:name=".Stub350Receiver" android:exported="false" />
        <activity android:name=".Stub351Activity" android:exported="false" />
        <service android:name=".Stub352Service" android:exported="false" />
        <receiver android:name=".Stub353Receiver" android:exported="false" />
        <activity android:name=".Stub354Activity" android:exported="false" />
        <service android:name=".Stub355Service" android:exported="false" />
        <receiver android:name=".Stub356Receiver" android:exported="false" />
        <activity android:name=".Stub357Activity" android:exported="false" />
        <service android:name=".Stub358Service" android:exported="false" />
        <receiver android:name=".Stub359Receiver" android:exported="false" />
        <activity android:name=".Stub360Activity" android:exported="false" />
        <service android:name=".Stub361Service" android:exported="false" />
        <receiver android:name=".Stub362Receiver" android:exported="false" />
        <activity android:name=".Stub363Activity" android:exported="false" />
        <service android:name=".Stub364Service" android:exported="false" />
        <receiver android:name=".Stub365Receiver" android:exported="false" />
        <activity android:name=".Stub366Activity" android:exported="false" />
        <service android:name=".Stub367Service" android:exported="false" />
        <receiver android:name=".Stub368Receiver" android:exported="false" />
        <activity android:name=".Stub369Activity" android:exported="false" />
        <service android:name=".Stub370Service" android:exported="false" />
        <receiver android:name=".Stub371Receiver" android:exported="false" />
        <activity android:name=".Stub372Activity" android:exported="false" />
        <service android:name=".Stub373Service" android:exported="false" />
        <receiver android:name=".Stub374Receiver" android:exported="false" />
        <activity android:name=".Stub375Activity" android:exported="false" />
        <service android:name=".Stub376Service" android:exported="false" />
        <receiver android:name=".Stub377Receiver" android:exported="false" />
        <activity android:name=".Stub378Activity" android:exported="false" />
        <service android:name=".Stub379Service" android:exported="false" />
        <receiver android:name=".Stub380Receiver" android:exported="false" />
        <activity android:name=".Stub381Activity" android:exported="false" />
        <service android:name=".Stub382Service" android:exported="false" />
        <receiver android:name=".Stub383Receiver" android:exported="false" />
        <activity android:name=".Stub384Activity" android:exported="false" />
        <service android:name=".Stub385Service" android:exported="false" />
        <receiver android:name=".Stub386Receiver" android:exported="false" />
        <activity android:name=".Stub387Activity" android:exported="false" />
        <service android:name=".Stub388Service" android:exported="false" />
        <receiver android:name=".Stub389Receiver" android:exported="false" />
        <activity android:name=".Stub390Activity" android:exported="false" />
        <service android:name=".Stub391Service" android:exported="false" />
        <receiver android:name=".Stub392Receiver" android:exported="false" />
        <activity android:name=".Stub393Activity" android:exported="false" />
        <service android:name=".Stub394Service" android:exported="false" />
        <receiver android:name=".Stub395Receiver" android:exported="false" />
        <activity android:name=".Stub396Activity" android:exported="false" />
        <service android:name=".Stub397Service" android:exported="false" />
        <receiver android:name=".Stub398Receiver" android:exported="false" />
        <activity android:name=".Stub399Activity" android:exported="false" />
        <service android:name=".Stub400Service" android:exported="false" />
        <receiver android:name=".Stub401Receiver" android:exported="false" />
        <activity android:name=".Stub402Activity" android:exported="false" />
        <service android:name=".Stub403Service" android:exported="false" />
        <receiver android:name=".Stub404Receiver" android:exported="false" />
        <activity android:name=".Stub405Activity" android:exported="false" />
        <service android:name=".Stub406Service" android:exported="false" />
        <receiver android:name=".Stub407Receiver" android:exported="false" />
        <activity android:name=".Stub408Activity" android:exported="false" />
        <service android:name=".Stub409Service" android:exported="false" />
        <receiver android:name=".Stub410Receiver" android:exported="false" />
        <activity android:name=".Stub411Activity" android:exported="false" />
        <service android:name=".Stub412Service" android:exported="false" />
        <receiver android:name=".Stub413Receiver" android:exported="false" />
        <activity android:name=".Stub414Activity" android:exported="false" />
        <service android:name=".Stub415Service" android:exported="false" />
        <receiver android:name=".Stub416Receiver" android:exported="false" />
        <activity android:name=".Stub417Activity" android:exported="false" />
        <service android:name=".Stub418Service" android:exported="false" />
        <receiver android:name=".Stub419Receiver" android:exported="false" />
        <activity android:name=".Stub420Activity" android:exported="false" />
        <service android:name=".Stub421Service" android:exported="false" />
        <receiver android:name=".Stub422Receiver" android:exported="false" />
        <activity android:name=".Stub423Activity" android:exported="false" />
        <service android:name=".Stub424Service" android:exported="false" />
        <receiver android:name=".Stub425Receiver" android:exported="false" />
        <activity android:name=".Stub426Activity" android:exported="false" />
        <service android:name=".Stub427Service" android:exported="false" />
        <receiver android:name=".Stub428Receiver" android:exported="false" />
        <activity android:name=".Stub429Activity" android:exported="false" />
        <service android:name=".Stub430Service" android:exported="false" />
        <receiver android:name=".Stub431Receiver" android:exported="false" />
        <activity android:name=".Stub432Activity" android:exported="false" />
        <service android:name=".Stub433Service" android:exported="false" />
        <receiver android:name=".Stub434Receiver" android:exported="false" />
        <activity android:name=".Stub435Activity" android:exported="false" />
        <service android:name=".Stub436Service" android:exported="false" />
        <receiver android:name=".Stub437Receiver" android:exported="false" />
        <activity android:name=".Stub438Activity" android:exported="false" />
        <service android:name=".Stub439Service" android:exported="false" />
        <receiver android:name=".Stub440Receiver" android:exported="false" />
        <activity android:name=".Stub441Activity" android:exported="false" />
        <service android:name=".Stub442Service" android:exported="false" />
        <receiver android:name=".Stub443Receiver" android:exported="false" />
        <activity android:name=".Stub444Activity" android:exported="false" />
        <service android:name=".Stub445Service" android:exported="false" />
        <receiver android:name=".Stub446Receiver" android:exported="false" />
        <activity android:name=".Stub447Activity" android:exported="false" />
        <service android:name=".Stub448Service" android:exported="false" />
        <receiver android:name=".Stub449Receiver" android:exported="false" />
        <activity android:name=".Stub450Activity" android:exported="false" />
        <service android:name=".Stub451Service" android:exported="false" />
        <receiver android:name=".Stub452Receiver" android:exported="false" />
        <activity android:name=".Stub453Activity" android:exported="false" />
        <service android:name=".Stub454Service" android:exported="false" />
        <receiver android:name=".Stub455Receiver" android:exported="false" />
        <activity android:name=".Stub456Activity" android:exported="false" />
        <service android:name=".Stub457Service" android:exported="false" />
        <receiver android:name=".Stub458Receiver" android:exported="false" />
        <activity android:name=".Stub459Activity" android:exported="false" />
        <service android:name=".Stub460Service" android:exported="false" />
        <receiver android:name=".Stub461Receiver" android:exported="false" />
        <activity android:name=".Stub462Activity" android:exported="false" />
        <service android:name=".Stub463Service" android:exported="false" />
        <receiver android:name=".Stub464Receiver" android:exported="false" />
        <activity android:name=".Stub465Activity" android:exported="false" />
        <service android:name=".Stub466Service" android:exported="false" />
        <receiver android:name=".Stub467Receiver" android:exported="false" />
        <activity android:name=".Stub468Activity" android:exported="false" />
        <service android:name=".Stub469Service" android:exported="false" />
        <receiver android:name=".Stub470Receiver" android:exported="false" />
        <activity android:name=".Stub471Activity" android:exported="false" />
        <service android:name=".Stub472Service" android:exported="false" />
        <receiver android:name=".Stub473Receiver" android:exported="false" />
        <activity android:name=".Stub474Activity" android:exported="false" />
        <service android:name=".Stub475Service" android:exported="false" />
        <receiver android:name=".Stub476Receiver" android:exported="false" />
        <activity android:name=".Stub477Activity" android:exported="false" />
        <service android:name=".Stub478Service" android:exported="false" />
        <receiver android:name=".Stub479Receiver" android:exported="false" />
        <activity android:name=".Stub480Activity" android:exported="false" />
        <service android:name=".Stub481Service" android:exported="false" />
        <receiver android:name=".Stub482Receiver" android:exported="false" />
        <activity android:name=".Stub483Activity" android:exported="false" />
        <service android:name=".Stub484Service" android:exported="false" />
        <receiver android:name=".Stub485Receiver" android:exported="false" />
        <activity android:name=".Stub486Activity" android:exported="false" />
        <service android:name=".Stub487Service" android:exported="false" />
        <receiver android:name=".Stub488Receiver" android:exported="false" />
        <activity android:name=".Stub489Activity" android:exported="false" />
        <service android:name=".Stub490Service" android:exported="false" />
        <receiver android:name=".Stub491Receiver" android:exported="false" />
        <activity android:name=".Stub492Activity" android:exported="false" />
        <service android:name=".Stub493Service" android:exported="false" />
        <receiver android:name=".Stub494Receiver" android:exported="false" />
        <activity android:name=".Stub495Activity" android:exported="false" />
        <service android:name=".Stub496Service" android:exported="false" />
        <receiver android:name=".Stub497Receiver" android:exported="false" />
        <activity android:name=".Stub498Activity" android:exported="false" />
        <service android:name=".Stub499Service" android:exported="false" />
    </application>
</manifest>
